/* Page 1 styles */
#u0 { width: 400px; height: 600px; left: 0; top: 0; background-color: #F5F6FA; }
#u1 { width: 300px; height: 40px; left: 50px; top: 60px; }
#u2 { width: 300px; height: 60px; left: 50px; top: 120px; }
#u3 { width: 120px; height: 40px; left: 140px; top: 220px; background-color: #3f8d61; }
